extends static/layout

block content
    h1= user.name
    img.user-photo(src=user.photo, alt=user.name)
    p= user.info

    h2 Friends
    each friend, index in friends
        p= `Friend ${index + 1}: ${friend.name}`

    h2 News
    each friend, index in friends
        h3= `News from ${friend.name}`
        ul
            each newsItem in friend.news
                li= `${friend.name}: ${newsItem.text}`

    script(src="https://code.jquery.com/jquery-3.6.4.min.js")
    script.
        if (typeof jQuery === 'undefined') {
            console.error('jQuery is not loaded!');
        } else {
            // Ваш код, использующий jQuery
            $(document).ready(function () {
                $("h2").text("Проверка 1");
                jQuery("p").text("Проверка 2");
            });
        }
